{% extends "base.html" %}

{% block content %}                                                                                                                                  

{% for key, value in found_taglist.items %} 
    <h1>{{ key }}</h1>
    <table class="table table-bordered table-hover">
        <tbody>
            {% for found_tags in value %}
                <tr>
                    {% for tag in found_tags %}
                        <td>{{ tag }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
